@media (min-width: $breakpoint-l) {
  .vj__s-container {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 60px;
    width: 50%;
    margin-top: 60px;

    .vj__s-container-item {
      align-items: flex-start;
      margin: 20px auto;
    }
  }

  .vj__s-social {
    flex-direction: row;
    justify-content: flex-end;
  }

  .button:hover {
    background-color: #e20712 !important;
  }
}
