.intro {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: .125rem;
  text-transform: uppercase;
  color: #fff; }

.vj__s-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px; }
  .vj__s-container .vj__s-container-item {
    flex: 0 1 auto;
    margin: 20px auto; }
    .vj__s-container .vj__s-container-item img {
      max-width: 100%;
      height: auto; }

.vj__s {
  background-image: url(images/victoria1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  width: 100%;
  height: auto;
  overflow: hidden; }

.tumblr {
  background: url(images/tumblr.png); }

.facebook {
  background: url(images/facebook.png); }

.snapchat {
  background: url(images/snapchat.png); }

.twitter {
  background: url(images/twitter.png); }

.youtube {
  background: url(images/youtube.png); }

.rocky-horror {
  background: url(images/rocky-horror.png); }

.fox-now {
  background: url(images/fox-now.png); }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 10px 5px; }

.vj__s-social {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 40px; }
  .vj__s-social a {
    flex: 0 1 auto;
    margin: 0 10px; }
    .vj__s-social a img {
      max-width: 100%;
      height: auto; }

.button {
  width: 200px;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: .125rem;
  text-transform: uppercase;
  color: #fff !important;
  line-height: 1.8 !important;
  padding: 10px 30px !important; }

@media (min-width: 1024px) {
  .vj__s-container {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 60px;
    width: 50%;
    margin-top: 60px; }
    .vj__s-container .vj__s-container-item {
      align-items: flex-start;
      margin: 20px auto; }

  .vj__s-social {
    flex-direction: row;
    justify-content: flex-end; }

  .button:hover {
    background-color: #e20712 !important; }

  .intro {
    font-size: 2.25em; } }
